.quote-container {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    max-width: 50%;
}

.quote-container > h2 {
    border: solid black 2px;
}

.cost-breakdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quote-cost-numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.quote-cost-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.quote-price-row > h3 {
    padding: 0;
    margin: 0 1rem 0 1rem
}

.total {
    border-top: solid black 2px
}