<div class="quote-container">
    <h2>Cost Breakdown</h2>
    <div class="cost-breakdown">
        <div class="quote-cost-titles">
            <div class="quote-price-row">
                <h3>Premium: </h3>
            </div>
            <div class="quote-price-row">
                <h3>Tax: </h3>
            </div>
            <div class="quote-price-row">
                <h3>Fees: </h3>
            </div>
            <div class="quote-price-row">
                <h3>total: </h3>
            </div>
        </div>
        <div class="quote-cost-numbers">
            <div class="quote-price-row">
                <h3>{{data.premium}}</h3>
            </div>
            <div class="quote-price-row">
                <h3>{{data.tax}}</h3>
            </div>
            <div class="quote-price-row">
                <h3>{{data.fees}}</h3>
            </div>
            <div class="quote-price-row total">
                <h3>{{data.total}}</h3>
            </div>
        </div>
    </div>
    <div class="quote-price-row">
        <button mat-flat-button color="primary" (click)="deleteQuote()">New Quote</button>
    </div>
</div>
