<form [formGroup]="quoteForm" (ngSubmit)="onSubmit()" layout>
    <mat-form-field class="form-field">
        <mat-label>Host Country</mat-label>
        <mat-select formControlName="host_country" (selectionChange)="hostCountryChanged()">
            <mat-option *ngFor="let country of hostCountries" [value]="country">{{country.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field" *ngIf="countryStates.length > 0">
        <mat-label for="host-state">Host State</mat-label>
        <mat-select id="host-country" type="text" formControlName="country_state">
            <mat-option *ngFor="let state of countryStates" [value]="state">{{state}}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field class="form-field" >
        <mat-label for="age">Age</mat-label>
        <mat-select formControlName="age" multiple>
            <mat-option *ngFor="let age of ages" [value]="age"
            [disabled]="isAgeDisabled(age)">{{age}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field" >
        <mat-label for="currency">Currency</mat-label>
        <mat-select id="currency" formControlName="currency_id">
            <mat-option *ngFor="let currency of allowedCurrencies" [value]="currency.iso_code">{{currency.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field">
        <mat-label>Destination Country</mat-label>
        <mat-select formControlName="destination_country_ids" multiple>
            <mat-option *ngFor="let country of destinationCountries" [value]="country.iso_code">{{country.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field" >
        <mat-label for="total-trip-cost">Total Trip Cost</mat-label>
        <input matInput id="total-trip-cost" type="text" formControlName="trip_cost">
    </mat-form-field>

    <mat-form-field class="form-field" >
        <mat-label for="start-date">Start Date of Trip</mat-label>
        <input matInput id="start-date" [matDatepicker]="startDate" formControlName="start_date">
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-field" >
        <mat-label for="end-date">End Date of Trip</mat-label>
        <input matInput id="end-date" [matDatepicker]="endDate" formControlName="end_date">
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
    </mat-form-field>

    <div class="form-field" >
        <mat-checkbox labelPosition="before" id="winter-sports-extension" formControlName="winter_sports_extension">Would you like the Winter Sports Extension?</mat-checkbox>
    </div>

    <mat-form-field class="form-field" >
        <mat-label for="deposit-date">Deposit date for first payment</mat-label>
        <input matInput id="deposit-date" [matDatepicker]="depositDate" formControlName="deposit_date">
        <mat-datepicker-toggle matSuffix [for]="depositDate"></mat-datepicker-toggle>
        <mat-datepicker #depositDate></mat-datepicker>
    </mat-form-field>
    <div class="form-field">
        <button mat-raised-button color="primary" class="form-btn" type="submit" [disabled]="!quoteForm.valid">Submit</button>
    </div>
</form>
