<div class="header">
    <h1>Get a Quote</h1>
</div>
<app-quote-form *ngIf="!doesQuoteHaveData(); else showQuote"></app-quote-form>
<ng-template #showQuote>
    <app-quote></app-quote>
</ng-template>
